@import "tailwindcss";

@utility container {
  margin-inline: auto;
}


@theme {
  /* ---Fonts */
  --font-clicker: "Clicker Script", cursive;
  --font-playfair: "Playfair Display", serif;

  /* ---Colors */
  --color-theme: #F9C06A;
  --color-cofee: #603809;
  --color-text-black: #1E1E1E;
  --color-secoundary-text: #707070;
  --color-pink-bg: #FEF9F1;
}